
torch>=2.3.0
torchvision>=0.18.0
torchaudio>=2.3.0
scanpy>=1.10
squidpy>=1.6
anndata>=0.10
pandas
numpy
scikit-learn
tqdm
matplotlib
seaborn
umap-learn
h5py
Pillow
torch-geometric
torch-staintools
albumentations
pytorch-lightning
mlflow
pyyaml
